/*
* @Author: Administrator
* @Date:   2017-09-16 13:58:02
* @Last Modified by:   Administrator
* @Last Modified time: 2017-09-16 14:09:13
*/
/*
* @Author: Administrator
* @Date:   2017-09-05 09:42:46
* @Last Modified by:   Administrator
* @Last Modified time: 2017-09-16 13:56:55
*/
@font-face {
  font-family: 'iconfont';  /* project id 415682 */
  src: url('http://at.alicdn.com/t/font_415682_fq8ksiypucj46lxr.eot');
  src: url('http://at.alicdn.com/t/font_415682_fq8ksiypucj46lxr.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_415682_fq8ksiypucj46lxr.woff') format('woff'),
  url('http://at.alicdn.com/t/font_415682_fq8ksiypucj46lxr.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_415682_fq8ksiypucj46lxr.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
header{
	width: 100%;
	height: .77rem;
	background-color: #fff;
	padding: 0rem .15rem;
}
.head-top{
	width: 100%;
	height: .32rem;
	/* background-color: #5a5a5a; */
}
.head-top span{
	width: .3rem;
	height: .32rem;
	background-color:#fff;
	float: left;
	overflow: hidden;

}
/* .head-top.head-top span.head-wenzi3{
	float: right;
} */
.head-top span:nth-child(1){
	/* float: left; */
	font-size: .15rem;
	line-height: .3rem;
}
.head-top span:nth-child(2){
	width: 1.06rem;
	margin-left: 1rem;
	background-image: url('../img/logo.jpg');
	background-position: center;
	background-size: cover;   
}
.head-top span:nth-child(3){
	float: right;
	font-size: .15rem;
	line-height: .3rem;
}
.head-bottom{
	width: 3.45rem;
	height: .35rem	;
	background-color: blue;
}
.head-bottom input{
	display: block;
	width: 100%;
	height: 100%;
}
main{
	background-color:#f5f5f5;
}
#list{
	width: 100%;
	height: .82rem;
	/* background-color: red; */
	/* padding: .15rem .06rem; */
}
#list li{
	width: 20%;
	height: 100%;
	/* background-color: yellow; */
	float: left;
}
.renq{
	background-image: url('../img/lieb-c2.png_160x160.v1cAC.70.webp');
	background-size: cover;
	background-position: top ;
}
.yifen{
	background-image: url('../img/leib-1.gif');
	background-size: cover;
	background-position: top ;
}
#list li a{
	display: block;
	width: .48rem;
	height: .48rem;
	border-radius: 50%;
	
	margin: 0 auto;
}

#list li span{
	font-size: .15rem;
	display: block;
	text-align: center;
}

/* 内容开始 */
.neir{
	width: 100%;
	background-color: rgba(3, 3, 3, 0.5);
}
.banner{
	width: 100%; height: 1.95rem;
	background-image: url('../img/banner1.webp');
	background-size: 100%;
}
.lieb{
	width: 100%;
	padding: 0 .15rem;
}
.lieb-t{
	width: 100%; height: .30rem;
	font-size: .15rem;
	font-weight: 400;

}
.lieb-t-l{
	float: left;
}
.lieb-t-r{
	float: right;
}
.lieb-c{
	width: 100%; height: 1rem;
	padding: .15rem 0;
	position: relative;
}
.lieb-c-l{
	width: 1rem; height: 1rem;
	float: left;
	margin-right: 5px;
	background-image: url('../img/meishi-1.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}
.lieb-c-3{
	background-image: url('../img/meishi-3.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}
.lieb-c-2{
	background-image: url('../img/meishi-2.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}
.leib-c-r{
	width: .245rem;height: 100%;
	float: right;
}
.lieb-c-r-t{
	font-size: .15rem;

}
.lieb-c-r-c{
	font-size: .14rem;
	margin-top: .3rem;
}
.lieb-c-r-b{
	font-size: .14rem;

}
.lieb-c-r-r{
	width: .9rem;
    height: 0.3rem;
    line-height: 0.3rem;
    text-align: center;
    background-color: #ff6699;
    color: #fff;
    font-size: 0.14rem;
    border-radius: 0.1rem;
   	position: absolute;
	bottom: .01rem; right: 0;
}














/* 底部样式 */
.footer{
	width: 100%; height: .49rem;
	background-color: red;
	position: fixed;
	bottom: 0; left: 0;
}
.footer-anniu{
	text-align: justify;
}
.footer-anniu:after{
	content: "";
	width: 100%;
	display: inline-block;
}
.footer-anniu-1{
	
	width: .937rem; height: .44rem;
	background-color: #fff;
	float: left;
	text-align: center;
	font-size: .15rem;
	/* display: inline-block; */
}
